.navbar{
    background-color: #9272C0;
   
}
.navbar h3{
    color: #fff;
    margin: auto;
}
.navbar img{
    margin: -12%;
    width: 90px;
    height: auto;
}
.navbar i{
    color: #fff;
    margin-left: 1rem;
}
.nav{
    background-color: #422F5E;
}
.nav .nav-link{
    color: #fff;
}

footer{
    /* left: 0; */
    bottom: 0;
    width: 100%;
    background-color: #422F5E;


    /* min-height: 100vh ; */
     display: flex ; 

}
footer p{
    color: #9272C0;
    font-size: 14px
    
}

.accordion-button {
    background-color:#e9d5ff !important;
}
 .container input placeholder{
    color: #fff;
 }
 .container .card-header{
    background-color: #422F5E;
    color: #fff;
}

.saveBtn{
    background-color: #9272C0 !important;
    color: #fff !important;
}